body {
  display: flex;
  flex-direction: column;
  font-family: "Times New Roman", Times, serif;
  line-height: 1.5em;
}

.form-input {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  border-style: solid none;
  padding: 10px;
}

.header-logo {
  padding: 10px;
}

h3 {
  font-family: serif;
  margin-top: 0;
}

.stock-ticker {
  display: flex;
  flex-direction: row;
}

.ticker-box {
  border-left: solid;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}

article {
  p {
    font-size: 16px;
    padding-bottom: 20px;
    line-height: 1.4em;
  }
}

@media screen and (max-width: 720px) {
  .form {
    border-top: solid;
    padding: 10px;
  }
}

@media screen and (min-width: 720px) {
  article {
    p {
      font-size: 20px;
      padding-bottom: 20px;
    }
  }

  .header-filler {
    flex: 4;
  }

  .article {
    flex: 3;
    padding: 20px 100px;
    width: 60%;
  }

  .form {
    box-shadow: 5px 5px 5px;
    border: solid;
    padding: 15px;
    position: fixed;
    top: 125px;
    right: 10%;
    width: 20%;
  }

  .form-filler {
    flex: 2;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
  }
}
